.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333; /* Темный фон для личного кабинета */
    padding: 2em;
    border-radius: 10px;
    max-width: 600px; /* Установите нужную ширину */
    margin: 0 auto; /* Центрирует контейнер на странице */
    color: #fff;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-bottom: 1em;
}

.avatarImage, .avatarPlaceholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #444; /* Фон для placeholder */
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeAvatarButton {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.changeAvatarButton:hover {
    background-color: #0056b3;
}

.avatarUploader {
    margin-top: 1em;
}

.details {
    text-align: center;
    margin-top: 1em;
}
