.userInfo {
  display: flex;
  align-items: center; // Центрируем аватар и имя по вертикали
  text-decoration: none; // Убираем подчеркивание у ссылки
  color: inherit; // Унаследуем цвет текста от родительского элемента

  &:hover {
    opacity: 0.8; // Эффект при наведении
  }
}

.avatar {
  width: 60px; // Устанавливаем ширину аватара
  height: 60px; // Устанавливаем высоту аватара
  border-radius: 50%; // Делаем аватар кругом
  overflow: hidden; // Скрываем лишнюю часть изображения
  margin-right: 8px; // Отступ между аватаром и именем пользователя
  display: flex; // Используем flexbox для центрирования
  justify-content: center; // Центрируем изображение по горизонтали
  align-items: center; // Центрируем изображение по вертикали
}

.avatar img {
  width: 100%; // Заполняем аватар по ширине
  height: 100%; // Заполняем аватар по высоте
  object-fit: cover; // Сохраняем пропорции и заполняем контейнер
}

.username {
  font-weight: bold; // Делаем текст имени пользователя жирным
  font-size: 16px; // Размер шрифта для имени пользователя
}
